.tag-generator__container {
    .toolbar {
        .hidden-input {
            position: absolute;
            top: 0px;
            display: none;
        }
    }
    &__content {
        overflow: auto;
        max-height: 640px;
        height: 620px;
    }

    .preview-card {
        overflow: hidden;
    }
}