<template>
  <div
    :style="{
      width: '320px',
      height: '480px',
    }"
  >
    <div
      class="container1"
      :style="{
        position: 'absolute',
        height: creative.hasSound
          ? creative.sound.containers.c1.height + 'px'
          : 'calc(100% - 64px)',
        top: creative.hasSound
          ? creative.sound.containers.c1.top + 64 + 'px'
          : '64px',
        width: '100%',
        'background-color': 'rgba(96, 208, 76, 0.7)',
        cursor: 'pointer',
      }"
    ></div>
    <div
      v-if="creative.hasSound"
      class="container2"
      :style="{
        position: 'absolute',
        height: creative.hasSound
          ? creative.sound.containers.c2.height + 'px'
          : '100%',
        top: creative.hasSound
          ? creative.sound.containers.c2.top + 64 + 'px'
          : '64px',
        width: '100%',
        'background-color': 'rgba(232, 134, 77, 0.7)',
        cursor: 'pointer',
      }"
    ></div>
    <iframe
      width="320"
      height="480"
      :src="creative.source"
      frameborder="0"
      allowfullscreen
      @load="iframeLoaded"
    ></iframe>
  </div>
</template>
<script>
export default {
  name: "CreativePreview",
  props: ["creative", "showIframe"],
  data: () => ({}),
  methods: {
    iframeLoaded() {
      this.$emit("iframeLoaded", false);
    },
  },
};
</script>