<template>
  <v-expansion-panels v-model="panels" hover multiple class="creatives-list">
    <v-expansion-panel v-for="(creative, i) in creatives" :key="i">
      <v-expansion-panel-header
        disable-icon-rotate
        expand-icon="mdi-plus"
        :class="{
          'creatives-list__header white--text': true,
          'is-active': activePreview === i,
        }"
        color="#0daac3"
      >
        {{ creative.name.length > 0 ? creative.name : "Creative Name" }}
        <template v-slot:actions>
          <v-icon color="white">{{ getIcon(i) }}</v-icon>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                @click="removeItem($event, i)"
                small
                icon
                :ripple="false"
                v-on="on"
                v-bind="attrs"
              >
                <v-icon color="error">mdi-minus</v-icon>
              </v-btn>
            </template>
            <span>Remove</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                @click="copyItem($event, creative)"
                x-small
                icon
                :ripple="false"
                v-on="on"
                v-bind="attrs"
              >
                <v-icon class="light-green--text text--lighten-2"
                  >mdi-content-copy</v-icon
                >
              </v-btn>
            </template>
            <span>Clone</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                @click="showPreview($event, i)"
                :disabled="
                  typeof inputRules.isUrl(creative.source) === 'string'
                "
                x-small
                icon
                :ripple="false"
                v-on="on"
                v-bind="attrs"
                class="mx-1"
              >
                <v-icon color="indigo">mdi-monitor</v-icon>
              </v-btn>
            </template>
            <span>Preview</span>
          </v-tooltip>
        </template>
      </v-expansion-panel-header>
      <v-expansion-panel-content color="#E3E3E3">
        <!-- Creative info form. -->
        <v-container>
          <v-form class="creative-form" @input="checkInput" ref="creativeForm">
            <v-row cols="12" class="d-flex">
              <!-- Name Input -->
              <v-col>
                <v-text-field
                  label="Creative Name"
                  :rules="[inputRules.required]"
                  outlined
                  v-model="creative.name"
                ></v-text-field>
              </v-col>
              <!-- Source Input -->
              <v-col>
                <v-text-field
                  label="Iframe Source"
                  :rules="[inputRules.required, inputRules.isUrl]"
                  outlined
                  v-model="creative.source"
                ></v-text-field>
              </v-col>
              <!-- Type Input -->
              <v-col>
                <v-select
                  append-icon="mdi-chevron-down"
                  :items="creativeTypes"
                  item-value="value"
                  item-text="label"
                  label="Type"
                  outlined
                  v-model="creative.type"
                ></v-select>
              </v-col>
              <!-- Direct/Programmatic Input -->
              <v-col>
                <v-switch
                  class="type-input"
                  color="#0daac3"
                  v-model="creative.isProgrammatic"
                  :label="creative.isProgrammatic ? 'Programmatic' : 'Direct'"
                ></v-switch>
              </v-col>
              <!-- MOAT Input -->
              <v-col>
                <v-checkbox
                  v-model="creative.useMOAT"
                  on-icon="mdi-checkbox-marked"
                  off-icon="mdi-checkbox-blank-outline"
                  label="Use MOAT"
                  color="#0daac3"
                ></v-checkbox>
              </v-col>
              <!-- Has Sound Input -->
              <v-col>
                <v-checkbox
                  v-model="creative.hasSound"
                  on-icon="mdi-checkbox-marked"
                  off-icon="mdi-checkbox-blank-outline"
                  label="Has Sound"
                  color="#0daac3"
                ></v-checkbox>
              </v-col>
            </v-row>
            <!-- Sound controls -->
            <v-container
              class="
                my-5
                sound-controls
                d-flex
                flex-row
                cols-12
                justify-space-around
              "
              v-if="creative.hasSound"
            >
              <v-col cols="5">
                <v-card color="transparent">
                  <v-toolbar color="#0daac3" class="white--text">
                    <v-card-title class="text-caption"
                      >Container 1</v-card-title
                    >
                  </v-toolbar>
                  <v-container class="d-flex flex-row justify-space-around">
                    <v-col cols="5">
                      <v-text-field
                        dense
                        type="number"
                        outlined
                        label="Top"
                        min="0"
                        :rules="[inputRules.minZero]"
                        v-model.number="creative.sound.containers.c1.top"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="5">
                      <v-text-field
                        dense
                        type="number"
                        outlined
                        label="Height"
                        v-model.number="creative.sound.containers.c1.height"
                      ></v-text-field>
                    </v-col>
                  </v-container>
                </v-card>
              </v-col>
              <v-col cols="5">
                <v-card color="transparent">
                  <v-toolbar color="#0daac3" class="white--text">
                    <v-card-title class="text-caption"
                      >Container 2</v-card-title
                    >
                  </v-toolbar>
                  <v-container class="d-flex flex-row justify-space-around">
                    <v-col cols="5">
                      <v-text-field
                        dense
                        type="number"
                        outlined
                        label="Top"
                        v-model.number="creative.sound.containers.c2.top"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="5">
                      <v-text-field
                        dense
                        type="number"
                        outlined
                        label="Height"
                        v-model.number="creative.sound.containers.c2.height"
                      ></v-text-field>
                    </v-col>
                  </v-container>
                </v-card>
              </v-col>
            </v-container>
            <!-- Sizing controls -->
            <v-row cols="12" class="d-flex align-center">
              <!-- Width input -->
              <v-col :cols="creative.isProgrammatic ? null : '3'">
                <v-text-field
                  disabled
                  v-model="creative.sizing.width"
                  type="number"
                  outlined
                  label="Width"
                ></v-text-field>
              </v-col>
              <!-- Height input -->
              <v-col :cols="creative.isProgrammatic ? null : '3'">
                <v-text-field
                  disabled
                  v-model="creative.sizing.height"
                  type="number"
                  outlined
                  label="Height"
                ></v-text-field>
              </v-col>

              <!-- Programmatic info -->
              <v-row cols="8" v-if="creative.isProgrammatic">
                <!-- DSP Macro input -->
                <v-col>
                  <v-text-field
                    v-model="creative.programmatic.dspMacro"
                    outlined
                    type="text"
                    label="DSP Click Macro"
                    :rules="[inputRules.required]"
                  >
                    <template v-slot:append>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            @click="showMacroList"
                            icon
                            v-bind="attrs"
                            v-on="on"
                            x-small
                            :ripple="false"
                          >
                            <v-icon color="warning"
                              >mdi-help-rhombus-outline</v-icon
                            >
                          </v-btn>
                        </template>
                        <span>See List</span>
                      </v-tooltip>
                    </template>
                  </v-text-field>
                </v-col>
                <!-- Click Tracker Input -->
                <v-col>
                  <v-text-field
                    v-model="creative.programmatic.clickTracker"
                    outlined
                    type="text"
                    label="Click Tag"
                    :rules="[inputRules.required, inputRules.isUrl]"
                  ></v-text-field>
                </v-col>
                <!-- Use Extra Impressions Input -->
                <v-col>
                  <v-checkbox
                    v-model="creative.programmatic.extraImpressions"
                    on-icon="mdi-checkbox-marked"
                    off-icon="mdi-checkbox-blank-outline"
                    label="Extra Impressions"
                    color="#0daac3"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-row>
            <!-- Extra Impressions -->
            <v-row
              cols="12"
              class="justify-center"
              v-if="
                creative.isProgrammatic &&
                creative.programmatic.extraImpressions
              "
            >
              <v-col cols="12">
                <v-card class="white--text" color="#0daac3" elevation="2" tile>
                  <v-card-title>Impressions</v-card-title>
                  <v-card-subtitle>
                    <!-- Add Pixel -->
                    <v-tooltip right>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          @click="addPixel(i)"
                          color="white"
                          icon
                          :ripple="false"
                          x-small
                          v-on="on"
                          v-bind="attrs"
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </template>
                      <span>Add Impression</span>
                    </v-tooltip>
                  </v-card-subtitle>
                  <v-container
                    class="extra-pixels"
                    v-if="creative.programmatic.extraPixels.length > 0"
                  >
                    <v-row
                      class="pixel align-center"
                      cols="12"
                      v-for="(pixel, pixelIndex) in creative.programmatic
                        .extraPixels"
                      :key="pixelIndex"
                    >
                      <!-- Pixel Source Input -->
                      <v-col>
                        <v-text-field
                          type="text"
                          dense
                          hide-details="auto"
                          :error="pixel.value == ''"
                          :rules="
                            pixel.isTag
                              ? [inputRules.required]
                              : [inputRules.required, inputRules.isUrl]
                          "
                          :label="pixel.isTag ? 'Pixel Tag' : 'Source'"
                          outlined
                          background-color="#FFFFFF"
                          v-model="pixel.value"
                        ></v-text-field>
                      </v-col>
                      <!-- Is IMG Input -->
                      <v-col>
                        <v-checkbox
                          v-model="pixel.isTag"
                          on-icon="mdi-checkbox-marked"
                          off-icon="mdi-checkbox-blank-outline"
                          label="Is IMG"
                          color="#0daac3"
                        ></v-checkbox>
                      </v-col>
                      <v-col>
                        <v-btn @click="removePixel(pixelIndex, i)" small outlined color="error">Remove</v-btn>
                      </v-col>
                      <!-- Remove Pixel -->
                    </v-row>
                  </v-container>
                </v-card>
              </v-col>
            </v-row>
            <!-- End of programmatic -->
          </v-form>
        </v-container>
        <!-- End of form. -->
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
export default {
  name: "CreativesList",
  props: ["creatives"],
  data: (vm) => ({
    activePreview: null,
    panels: vm.expandAll(),
    inputRules: {
      required: (value) => !!value || "Field Required",
      isUrl: (value) => {
        const regex = new RegExp(
          "((https)://)(www.)?[a-zA-Z0-9@:%._\\+~#?&//=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%._\\+~#?&//=]*)"
        );
        return regex.test(value) || "Invalid URL";
      },
      minZero: (value) => value > -1 || "Invalid Value. Min 0",
    },
    creativeTypes: [
      {
        value: "story",
        label: "Story",
      },
      {
        value: "native",
        label: "Native",
      },
    ],
  }),

  mounted() {

    if (this.$refs.creativeForm) {
      this.$refs.creativeForm.forEach((form) => form.validate());
    }
  },

  methods: {
    removeItem(evt, index) {
      evt.stopPropagation();
      this.activePreview = null;
      this.$emit("onItemRemove", index);
      this.$refs.creativeForm.splice(index, 1);
      if (this.$refs.creativeForm.length > 0) {
        let count = 0;
        this.$refs.creativeForm.forEach((form) => {
          form.validate() ? count++ : (count += 0);
        });
        if (count === this.$refs.creativeForm.length) {
          this.$emit("onFormChanged", true);
        } else {
          this.$emit("onFormChanged", false);
        }
      }
    },

    copyItem(evt, creative) {
      evt.stopPropagation();
      const copied = { ...creative };
      copied.name = "Copy of " + creative.name;
      this.$emit("onCreativeCopied", copied);
    },

    getIcon(index) {
      const found = this.panels.find((p) => {
        return p == index;
      });

      return typeof found === "undefined"
        ? "mdi-chevron-up"
        : "mdi-chevron-down";
    },

    checkInput(v) {
      let count = 0;
      if (this.$refs.creativeForm) {
        if (v) {
          this.$refs.creativeForm.forEach((form) => {
            form.validate() ? count++ : (count += 0);
          });
          if (count === this.$refs.creativeForm.length) {
            this.$emit("onFormChanged", true);
          }
        } else {
          this.$emit("onFormChanged", false);
        }
      }
    },

    expandAll() {
      const p = [];
      [...this.creatives].forEach((c, index) => {
        p.push(index);
      });
      return p;
    },

    showPreview(evt, creativeIndex) {
      evt.stopPropagation();
      this.activePreview = creativeIndex;
      this.$emit("onSetPreview", creativeIndex);
    },

    showMacroList(evt) {
      evt.stopPropagation();
      window.open(
        "https://docs.google.com/spreadsheets/d/1W2cFVMBE_pZPJkIij7EX84MDDxp2H0jC60XC9DRRBRo/edit#gid=277804957",
        "_blank"
      );
    },

    addPixel(index) {
      this.$emit("onPixelAdd", index);
      this.$refs.creativeForm[index].validate();
    },

    removePixel(pixelIndex, creativeIndex) {
      this.$emit('onPixelRemove', {pixelIndex, creativeIndex});
      this.$refs.creativeForm[creativeIndex].validate();
    }
  },

  watch: {
    creatives(newVal) {
      if (newVal.length > this.panels.length) {
        this.panels.push(newVal.length - 1);
      }
    },
  },
};
</script>
