<template>
  <v-container class="tag-generator__container" fluid>
    <v-snackbar v-model="snackbar" multi-line top timeout="2000">
      Error loading file
      <template v-slot:action="{ attrs }">
        <v-btn color="red" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-row cols="12">
      <v-col cols="8">
        <v-container>
          <v-card
            class="mx-auto d-flex flex-column justify-space-between"
            max-width="1080"
            min-height="700"
          >
            <v-toolbar class="toolbar col-12" color="#0daac3" dark>
              <v-toolbar-title>Creatives List </v-toolbar-title>

              <v-spacer></v-spacer>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" @click="addCreative" v-on="on">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span>Add Creative</span>
              </v-tooltip>
              <!-- Invisible file uploader -->
              <div class="hidden-input">
                <input
                  type="file"
                  accept=".csv, .xlsx, .xls"
                  @change="onFileUploaded"
                  ref="fileUploader"
                />
              </div>
              <!-- End of file uploader -->
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    @click="handleFileUpload"
                    v-on="on"
                  >
                    <v-icon>mdi-upload</v-icon>
                  </v-btn>
                </template>
                <span>Import from file</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    v-bind="attrs"
                    @click.prevent="downloadSample"
                    v-on="on"
                  >
                    <v-icon>mdi-download</v-icon>
                  </v-btn>
                </template>
                <span>Download Sample</span>
              </v-tooltip>
            </v-toolbar>
            <v-container class="tag-generator__container__content pt-0" fluid>
              <v-progress-linear
                color="warning"
                v-if="isLoading"
                indeterminate
                absolute
              ></v-progress-linear>
              <v-row dense>
                <v-container v-if="creativesList.length < 1">
                  <v-card
                    outlined
                    shaped
                    color="#90A4AE"
                    class="d-flex align-center justify-center"
                    min-height="500"
                  >
                    <v-progress-circular
                      v-if="isLoading"
                      indeterminate
                      color="warning"
                    ></v-progress-circular>
                    <p
                      v-if="!isLoading"
                      class="white--text font-weight-thin text-h3"
                    >
                      No creatives added
                    </p>
                  </v-card>
                </v-container>
                <v-container v-else>
                  <creatives-list
                    @onItemRemove="removeCreative"
                    @onFormChanged="disableSubmit"
                    @onPixelAdd="addPixel"
                    @onPixelRemove="removePixel"
                    @onSetPreview="setActivePreview"
                    @onCreativeCopied="cloneCreative"
                    :creatives="creativesList"
                  />
                </v-container>
              </v-row>
            </v-container>
            <v-card-actions class="d-flex justify-end">
              <v-btn
                outlined
                :disabled="!enableCreate || creativesList.length < 1"
                @click="generateTags"
                >Create ({{ creativesList.length }}) Tags</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-container>
      </v-col>
      <v-col cols="4">
        <v-container>
          <v-card
            class="mx-auto preview-card"
            max-width="320"
            min-width="320"
            max-height="544"
          >
            <v-toolbar color="#0daac3" dark>
              <v-progress-linear
                indeterminate
                absolute
                bottom
                color="warning"
                v-if="!iframeReady && activePreview !== null"
              ></v-progress-linear>
              <v-toolbar-title
                >Preview
                {{
                  activePreview !== null ? activePreview.name : ""
                }}</v-toolbar-title
              >
            </v-toolbar>
            <creative-preview
              v-if="activePreview !== null"
              :creative="activePreview"
              :showIframe="iframeReady"
              @iframeLoaded="iframeLoadEnd"
            />
            <div v-else style="width: 320px; height: 480px"></div>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// components
import CreativePreview from "./CreativePreview.vue";
import CreativesList from "./CreativesList";
// resources
import utils from "../utils/utils";
import creativeProfile from "../models/creativeModel";
import directWrapper from "../resources/direct_wrapper";
import programmaticWrapper from "../resources/progarmmatic_wrapper";
import MOATPIX from "../resources/moat_pixel";

// third-party packages
import { saveAs } from "file-saver";
import JSZIP from "jszip";

export default {
  name: "TagGenerator",

  data: () => ({
    creativesList: [],
    enableCreate: false,
    activePreview: null,
    isLoading: false,
    iframeReady: false,
    snackbar: false,
  }),

  mounted() {},

  methods: {
    onFileUploaded(evt) {
      this.creativesList = [];
      this.isLoading = true;
      if (evt.target.files.length > 0) {
        const selectedFile = evt.target.files[0];
        let ext = selectedFile.name.substring(
          selectedFile.name.lastIndexOf(".") + 1
        );
        if (ext === "csv") {
          utils
            .parseCSV(selectedFile)
            .then((importedCreatives) => {
              if (importedCreatives.length > 0) {
                if (
                  typeof importedCreatives[0].name === "undefined" ||
                  typeof importedCreatives[0].source === "undefined" ||
                  typeof importedCreatives[0].type === "undefined"
                ) {
                  throw "Error";
                }
              }
              this.creativesList = importedCreatives;
              this.isLoading = false;
            })
            .catch(() => {
              this.snackbar = true;
              this.isLoading = false;
              this.creativesList = [];
            });
        } else {
          utils
            .parseExcel(selectedFile)
            .then((importedCreatives) => {
              if (importedCreatives.length > 0) {
                if (
                  typeof importedCreatives[0].name === "undefined" ||
                  typeof importedCreatives[0].source === "undefined" ||
                  typeof importedCreatives[0].type === "undefined"
                ) {
                  throw "Error";
                }
              }
              this.creativesList = importedCreatives;
              this.isLoading = false;
            })
            .catch(() => {
              this.snackbar = true;
              this.isLoading = false;
              this.creativesList = [];
            });
        }
        this.$refs.fileUploader.value = null;
      }
      return;
    },

    handleFileUpload() {
      this.disableUploader = false;
      this.$refs.fileUploader.click();
    },

    addCreative() {
      let newCreative = new creativeProfile();
      this.creativesList.push(newCreative);
    },

    cloneCreative(cloned) {
      const c = JSON.parse(JSON.stringify(cloned));
      this.creativesList.push(c);
    },

    addPixel(creativeIndex) {
      const pix = {
        value: "",
        isTag: true,
      };
      this.creativesList[creativeIndex].programmatic.extraPixels.push(pix);
    },

    removePixel(payload) {
      this.creativesList[payload.creativeIndex].programmatic.extraPixels.splice(
        payload.pixelIndex,
        1
      );
    },

    removeCreative(payload) {
      if (
        this.activePreview !== null &&
        this.activePreview.name === this.creativesList[payload].name
      ) {
        this.activePreview = null;
      }
      this.creativesList.splice(payload, 1);
    },

    disableSubmit(shouldEnable) {
      this.enableCreate = shouldEnable;
    },

    setActivePreview(creativeIndex) {
      this.iframeReady = false;
      this.activePreview = this.creativesList[creativeIndex];
    },

    iframeLoadEnd() {
      this.iframeReady = true;
    },

    generateTags() {
      const tokens = [
        { macro: "[C1_STYLES]", value: "" },
        { macro: "[C2_STYLES]", value: "" },
        { macro: "[CONTAINER_2]", value: "" },
        { macro: "[CREATIVE_SOURCE]", value: "" },
        { macro: "[MOAT_PIXEL]", value: "" },
      ];
      const zipper = new JSZIP();

      this.creativesList.forEach((creative) => {
        let rootFolder = creative.isProgrammatic ? "programmatic" : "direct";
        let creativeMarkup = creative.isProgrammatic
          ? programmaticWrapper()
          : directWrapper();
        const containerStyles = this.getContainerStyles(creative);
        tokens[0].value = containerStyles.c1;
        tokens[1].value = containerStyles.c2;
        tokens[2].value = containerStyles.container2;
        tokens[3].value = creative.source;
        tokens[4].value = creative.useMOAT ? MOATPIX() + "\n" : "" + "\n";

        if (creative.isProgrammatic) {
          // is Programmatic
          let extraImpressions = "";
          const imgTag =
            '<img src="[EXTRA_SOURCE]" border="0" height="1" width="1" alt="Advertisement" />';
          if (
            creative.programmatic.extraImpressions &&
            creative.programmatic.extraPixels.length > 0
          ) {
            creative.programmatic.extraPixels.forEach((pixel) => {
              if (pixel.isTag) {
                extraImpressions += pixel.value + "\n";
              } else {
                extraImpressions +=
                  imgTag.replace("[EXTRA_SOURCE]", pixel.value) + "\n";
              }
            });
          }
          tokens.push({
            macro: "[DSP_CLICK]",
            value: creative.programmatic.dspMacro,
          });
          tokens.push({
            macro: "[CLICK_TRACKER]",
            value: creative.programmatic.clickTracker,
          });
          tokens.push({
            macro: "[CLICK_TRACKER]",
            value: creative.programmatic.clickTracker,
          });
          tokens.push({
            macro: "[EXTRA_IMPRESSIONS]",
            value: extraImpressions,
          });
        }

        // Replace tokens
        tokens.forEach((token) => {
          creativeMarkup = creativeMarkup.replace(token.macro, token.value);
        });

        creativeMarkup = creativeMarkup.replace(/^\s*[\r\n]/gm, "");        

        zipper.file(
          rootFolder + "/" + creative.type + "/" + creative.name + ".txt",
          creativeMarkup
        );
      });

      zipper.generateAsync({ type: "blob" }).then((zipped) => {
        saveAs(zipped, "tags.zip");
      });
    },

    getContainerStyles(creative) {
      let container2 = `
         <div class="container2" onclick="openAd()"></div>
      `;
      let c1Styles = `
        .container {
          position: absolute;
          top: [C1_TOP]px;
          left: 0px;
          width: 100%;
          height: [C1_HEIGHT]px;
        }
      `;
      let c2Styles = `
        .container2 {
          position: absolute;
          top: [C2_TOP]px;
          left: 0;
          width: 100%;
          height: [C2_HEIGHT]px;
        }
      `;
      const c1 = creative.sound.containers.c1;
      const c2 = creative.sound.containers.c2;
      if (creative.hasSound) {
        c1Styles = c1Styles
          .replace("[C1_TOP]px", c1.top + "px")
          .replace("[C1_HEIGHT]px", c1.height + "px");

        c2Styles = c2Styles
          .replace("[C2_TOP]px", c2.top + "px")
          .replace("[C2_HEIGHT]px", c2.height + "px");
      } else {
        c1Styles = c1Styles
          .replace("[C1_TOP]px", "0px")
          .replace("[C1_HEIGHT]px", "100%");

        c2Styles = "";
        container2 = "";
      }
      return {
        c1: c1Styles,
        c2: c2Styles,
        container2: container2,
      };
    },

    downloadSample() {
      window.open("/samples/samples.zip", "_blank");
    },
  },

  components: {
    CreativesList,
    CreativePreview,
  },
};
</script>